@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");
*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	min-height: 100vh;

	background-image: linear-gradient(
			to right,
			rgba(black, 0.4),
			rgba(black, 0.4)
		),
		url("/src/assets/glowingFlowerBg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

	font-family: "Nunito", sans-serif;
	overflow: hidden;

	// * For very small screens, will show different bg

	@media (max-width: 370px) {
		min-height: 130vh;
		background: url("/src/assets/glowingFlowerBg.jpg");
		background-color: #1e293b;
		background-blend-mode: difference;
		background-repeat: no-repeat;
		background-size: cover;
		background-size: center;
	}
}
